@model DBE.ENERGY.Web.ViewModels.Login.ForgetPasswordViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Şifremi Unuttum | DBE Energy Web Portal</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <link href="~/assets/css/page/auth.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/page/auth.custom.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/themes/light/base.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/themes/light/aside.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/themes/light/brand.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/themes/light/menu.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    </head>
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
        <div class="d-flex flex-column flex-root" style=" background-image: url(/assets/media/auth/bg.jpg); ">
            <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
                <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
                    <div class="login-form text-center text-white p-7 position-relative overflow-hidden rts-login-form">
                        <div class="d-flex flex-center mb-15">
                            <a href="/">
                                <img src="~/assets/media/logos/logo.png" class="max-h-150px" alt="DBE Energy" />
                            </a>
                        </div>
                        <div class="login-signin">
                            <div class="mb-20">
                                <h3 class="rts-login-title">Şifremi Unuttum</h3>
                                <p class="rts-login-desc opacity-60 font-weight-bold">Unutulan şifre için bilgileri doldurunuz</p>
                            </div>
                            <form asp-action="Index" method="post" role="form" class="form">
                                <div class="form-group">
                                    <input asp-for="email" class="form-control h-auto text-white placeholder-white rts-login-input rounded-pill border-0 py-4 px-8 mb-5" type="email" placeholder="Email" autocomplete="off" />
                                </div>
                                <div class="form-group text-center mt-10">
                                    <button type="submit" class="btn btn-pill btn-outline-white font-weight-bold rts-login-btn px-15 py-3">İşlem Yap</button>
                                </div>
                            </form>
                        </div>
                        <a href="/" class="rts-login-footer-info"><< Giriş Yap !</a>
                    </div>
                </div>
            </div>
        </div>
        <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
        <script src="~/assets/plugins/plugins.bundle.js"></script>
        <script src="~/assets/plugins/prismjs/prismjs.bundle.js"></script>
        <script src="~/assets/js/scripts.bundle.js"></script>
        <script src="~/assets/js/pages/custom/login/login-general.js"></script>
    </body>
</html>
