@model TaskListViewModels
@{ ViewData["Title"] = "Anasayfa"; }

<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <img src="~/assets/media/logos/logo.png" class="embed-responsive" alt="DBE Energy" title="DBE Energy" />
    </div>
</div>